body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 20rem;
}

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
}

nav .row {
  text-align: center;
  font-size: 1rem;
  background-color: #3b8ede;
  padding: .5rem 0;
}

.cart-info {
  color: white;
}
.row a {
  color: white;
}


/**************** HERO *****************/

header img {
  max-height: 10rem;
  padding: 1rem 1rem 0 1rem;
  float: left;

}

header h1{
  padding-top: 3.8rem;
  color: #3b8ede;
  font-family: 'Anton', sans-serif
}


h1 .logo-w {
  font-size: 3.2rem;

}

.break {
  display: table;
}



/**************** ASIDE ****************/
.product-filter{
  margin-top: 6rem;
}

select {
  margin-top: .25rem;
  border: 1px solid #3D7FCF;
  color: #3D7FCF;
  font-size: .75rem;
}
input[type="submit"] {
  margin-top: .25rem;
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}



/**************** Filter ****************/
.product-filter {
  display: flex;
}
.product-filter h1 {
  flex-grow: 1;
}
.sort {
  display: flex;
}
.collection-sort {
  display: flex;
  flex-direction: column;
}

/*********** PRODUCTS SECTION ***********/


section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
  margin-bottom: 2rem;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
  padding: 1rem;
}



.product-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.products{
  height: 35rem;
  width: 20rem;
  padding: 2%;
  border: 1px solid black;
  margin: 1%;
}
.product-image img {
  max-width: 100%;
}
.product-info {
  margin-top: auto;
}
